<%- include("partials/header")%>


<section class="about" id="about">
        <h1 style="text-align: center;">DO YOU KNOW ?</h1>
    <div class="about-right">
        <div>
                Street food consists of readymade food items that are sold by a vendor in markets or open places. 
                They may include the solid food items, various drinks or juices. Street food has become a very important 
                business nowadays. And people have always admired and loved street food and street food markets. According 
                to a report of FAO (Food and Agriculture organization) there are around 2.5 million people who tend to eat 
                street food daily. That is to say, the number of consumers of ‘street food’ is increasing day by day.
        </div>

        <div>
                The street food business in India has flourished to a vast extent. The street food contains a vast variety of 
                food items that are available to people in the form of meat, vegetables, chicken, cheese products etc. Moreover,
                Indian food is one of the most popular foods worldwide. They have quite a large range of spices admixed with food,
                giving a unique taste to every food item. There are large amount of street food items in India, such as paratha’s, 
                gol gappas, kahthi rolls, bheil puri, aloo tikki, pakoras, samosas, kebabs, etc.
        </div>

        <div>
                In Indonesia, street food is sold from carts and bicycles. Some cultures consider rude walking on the street while 
                eating. Polish vendors sell, zapiekankas which are halved baguette or bread grilled with mushroom, cheese and some 
                type of meet. Mumbai, India has more than a half a million of street food vendors. Street vendors of Bangkok feed 40% 
                of population of that city. Street food vendors also sell soft drinks and even coffee. Street vendors in Brazil sell 
                cheese buns called chipá which are small, baked, cheese-flavored rolls.
        </div>

    </div>

    <h3 style="text-align: center; margin: 20px 100px">THAT'S WHY WE BROUGHT TO YOU BLITZ, WHERE ALL SMALL SCALE STREET FOOD VENDERS CAN ADD ABOUT THEIR STALL AND OUR ALL CAN ENJOY DELECIOUS FOOD</h3>

</section>